<footer class="footer">
  <small>
    <a href= <%= root_path %> >Switter 0.1</a>
    by <a href = "http://www.ece.unm.edu/~guiltrex">Jiajun Niu</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>
